/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
/* HTML Document */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Header */
li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #D9D9D9;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #24252A;
}
.drop {
    display: inline-block;
    color: #BF0B3B;
    background-color: #0d0d0d00;
    border-radius: 10px;
    border-color: #ffffff00;
    font-size: 24px;
    padding: 10px;
}
.drop:hover {
    color: #D9D9D9;
}
#dropdown {
    position: relative;
    display: inline-block;
}
#dropdown:hover .menu-content {
    display: block;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: #595959;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu-content a {
    color: #D9D9D9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Andale Mono, monospace;
}
.menu-content a:hover {
    text-decoration: underline;
}
.htext {
    color: #D9D9D9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    
}
.htext > .fa-solid.fa-code {
    padding-left: 10px;
    padding-right: 10px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    color: #D9D9D9;
    font-size: 24px;
    
}
.cta > button{
    background-color: #BF0B3B;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.712);;
    font-size: 17px;
    color: #D9D9D9;
    width: 50px;
}
.cta > button > i {
    background-color: #BF0B3B;
}
.cta > button > i.fa-envelope-open {
    display: none;
}
.cta > button:hover > i.fa-envelope-open {
    display: block;
}
.cta > button:hover > i.fa-envelope {
    display: none;
}

/* Main body */
#quick-bio > div{
    height: 5rem;
    background-color: #24252A;
}
.scroll-grid-container {
    overflow:hidden;
    
}
.photo-grid {
    height:330px;
    background-size:1600px;
    background-repeat:repeat-x;
    background-position:center;
    width:4800px;
    -webkit-animation:scroll-grid 120s linear infinite;
    animation:scroll-grid 120s linear infinite;
    
}
main { 
    background-color: #24252A;
}
  .bgimg-1 {
    margin-top: 20rem;
    
    background-color: #24252A;
    position: relative;
    opacity: .80;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30rem;
    
  }
  .bgimg-1 > #dropdown2 {
    background-color: rgba(0, 0, 0, 0);    
  }
  .bgimg-1 > #dropdown2 > .drop2 > i {
    background-color: rgba(0, 0, 0, 0);
    font-size: 30px;
  }
  .bgimg-1 > #dropdown2 > .menu-content2 {
    margin-left: 1rem;
    background-color: rgba(0, 0, 0, 0);
    width: 50%;
  }
.drop2 {
    display: inline-block;
    color: #BF0B3B;
    background-color: #ffffff00;
    border-radius: 10px;
    border-color: #ffffff00;
    font-size: 24px;
    padding: 10px;
    margin-top: 1rem;
}
.drop2:hover {
    color: #D9D9D9;
}
#dropdown2 {
    position: relative;
    display: inline-block;
}
#dropdown2:hover .menu-content2 {
    display: block;
}
.menu-content2 {
    display: none;
    position: absolute;
    min-width: 20rem;
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 5rem;
    opacity: 100%;
    
}
.menu-content2 a, .menu-content2 p {
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-right: 10px;
    font-family: Andale Mono, monospace;
}
.menu-content2 a:hover {
    text-decoration: underline;
}
.caption {
    margin-top: 20rem;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
}

  
.caption span.border {
    background-color: #111;
    color: #D9D9D9;
    padding: 18px;
    font-size: 25px;
    
}
.connect {
    
    display: block;
    background-color: #ffffff00;
    color: #FFFFFF;
    font-family: Andale Mono, monospace;
    font-size: 25px;
    font-weight: 600;
    padding: 12px 16px;
    border-color: #BF0B3B;
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.6);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20rem;
}
.connect:hover {
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
}

 
 

/* Animations */
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@media (min-width: 768px) {
    .photo-grid {
        height:500px;
        background-size:2420px;
        width:7260px
    }
}
@-webkit-keyframes scroll-grid {
    0% {
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform:translate3d(-2420px, 0, 0);
        transform:translate3d(-2420px, 0, 0)
    }
}
@keyframes scroll-grid {
0% {
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0)
}
100% {
    -webkit-transform:translate3d(-2420px, 0, 0);
    transform:translate3d(-2420px, 0, 0)
}
}
@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
    